<!doctype html>
<html>
   <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.3.1/solar/bootstrap.min.css">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/10.6.2/css/bootstrap-slider.min.css">
   </head>

   <body class="p-3 mb-2 bg-secondary">
      <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/10.6.2/bootstrap-slider.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/10.6.2/bootstrap-slider.min.js"></script>

       <br>
       <div class="jumbotron" style="width: 100%">
	       <form action = "{{ base_path }}/go" method = "POST">
            <div class=form-group>
               <div class="row">
                  <div class="col d-flex justify-content-center"><label for="brightness">brightness:</label></div>
                  <div class="col d-flex justify-content-center"><label for="time_minutes">time:</label></div>
               </div>
               <div class="row">
                  <div class="col d-flex justify-content-center"><input id="brightness" name="brightness" class="form-control form-control-lg" type="text"/></div>
                  <div class="col d-flex justify-content-center"><input id="time_minutes" name="time_minutes"  class="form-control form-control-lg" type="text"/></div>
               </div>
               <div class="row">
                  <div class="col d-flex justify-content-center" id="selected_brightness">10%</div>
                  <div class="col d-flex justify-content-center" id="selected_time">45 min</div>
               </div>
            </div>
            <div class="d-flex justify-content-center">
               <button type="submit" class="btn btn-primary"/>submit</button>
            </div>
         </form>
       </div>

      <script type="text/javascript">
         $(document).ready(function() {
            $("#brightness").slider({
               min: 0,
               max: 100,
               value: 10,
               steps: 1,
               orientation: 'vertical',
               reversed: true
            });
            $("#brightness").on("slide", function(slideEvt) {
	       $("#selected_brightness").text(slideEvt.value + "%");
            });
            $("#time_minutes").slider({
               min: 0,
               max: 60,
               value: 45,
               steps: 1,
               orientation: 'vertical',
               reversed: true
            });
            $("#time_minutes").on("slide", function(slideEvt) {
	       $("#selected_time").text(slideEvt.value + " min");
            });
         });
      </script>

   </body>
</html>
