<html>
   <head>
      <link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css" />
      <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
      <script src="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
   </head>
   <body>
      <form action = "/bedtime" method = "POST">
         <label for="brightness">brightness:</label>
         <input type="range" name="brightness" id="brightness" min="0" max="100" value="20">
         <label for="time">time:</label>
         <input type="range" name="time" id="time" min="0" max="60" value="45">
      </form>
   </body>
</html>
